@import url('https://fonts.googleapis.com/css?family=Roboto');
$body-bg-color: rgb(0, 132, 255);
$chat-bg-color: #fff;
$font-size: 16px;
$font-color: #2f2f2f;
$font-color-muted: #afafaf;
$standard-padding: 10px 15px;
$standard-radius: 13px;
$message-radius: 100px;

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
  padding: 0;
  margin: 0;
}

// html,
// body,
.flexbox {
  width: 100%;
  height: 100%;
}

// body {
//   color: $font-color;
//   font-family: Raleway, sans-serif;
//   font-size: $font-size;
// }

.flexbox {
  color: $font-color;
  font-family: 'Roboto', sans-serif;
  background-color: $body-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-box {
  background-color: $chat-bg-color;
  margin: 20px;
  width: 100%;
  max-height: 500px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  border-radius: $standard-radius;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  > .chat-box-header {
    width: 100%;
    padding: $standard-padding;
    border-bottom: solid 1px #cfcfcf;
    box-sizing: border-box;
  }
  > .chat-box-body {
    height: 100%;
    display: flex;
    overflow: auto;
    display: flex;
    flex-direction: column;
    #chat_messages {
      width: 100%;
      padding: $standard-padding;
      margin-top: auto;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      .message {
        width: 80%;
        padding: $standard-padding;
        margin: 2px 0;
        overflow: hidden;
        border-radius: $message-radius;
        transition: height 0.3s ease-in-out;
        &.hide {
          height: 0;
        }
      }
      .my-message {
        color: #fff;
        background-color: #006ae3;
        align-self: flex-end;
      }
      .other-message {
        background-color: #e2e2e2;
      }
      .profile {
        margin: 2px 0;
        overflow: hidden;
        transition: height 0.3s ease-in-out;
        &.hide {
          height: 0;
        }
        img {
          display: inline-block;
          margin: 0;
          padding: 0;
          vertical-align: middle;
          border-radius: 50%;
        }
      }
      .my-profile {
        color: $font-color-muted;
        align-self: flex-end;
      }
      .other-profile {
        color: $font-color-muted;
      }
    }
  }
  #typing {
    color: $font-color-muted;
    width: 100%;
    height: 0;
    padding: 0 15px;
    overflow: hidden;
    box-sizing: border-box;
    opacity: 0;
    transition: 0.3s height ease-in-out, 0.3s opacity ease-in-out;
    &.active {
      height: 80px;
      opacity: 1;
    }
    span:not(.n) {
      background-color: $font-color-muted;
      width: 10px;
      height: 10px;
      margin-top: 20px;
      display: inline-block;
      border-radius: 50%;
      &:nth-child(1) {
        animation: typing 1.2s infinite;
      }
      &:nth-child(2) {
        animation: typing 1.2s infinite 0.1s;
      }
      &:nth-child(3) {
        animation: typing 1.2s infinite 0.2s;
      }
    }
  }
  > .chat-box-footer {
    width: 100%;
    padding: $standard-padding;
    border-top: solid 1px #cfcfcf;
    box-sizing: border-box;
    display: flex;
    > #chat_input {
      color: $font-color;
      font-family: Raleway, sans-serif;
      font-size: $font-size;
      background-color: #d2d2d2;
      width: 100%;
      height: 40px;
      max-height: 120px;
      border: none;
      padding: 10px 15px;
      resize: none;
      box-sizing: border-box;
      border-radius: $standard-radius;
      transition: 0.3s background-color;
      &:focus {
        background-color: #efefef;
      }
    }
    > #send {
      background: none;
      border: none;
      margin-left: 10px;
      padding: 5px;
      cursor: pointer;
      border-radius: 50%;
    }
  }
}

@media (min-width: 480px) {
  .chat-box {
    width: 480px;
  }
}

@keyframes typing {
  0% {
    transform: translateY(0px);
  }
  33.3333% {
    transform: translateY(-5px);
  }
  66.6667% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button {
  outline: none;
}

h3 > small {
  color: $font-color-muted;
  font-weight: normal;
}
