body {
  font-family: monospace;
  line-height: 1.2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.flex {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pricing-box {
  border: 1px solid #333;
  list-style: none;
  text-align: center;
  width: 30vw;

  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}

.pricing-box .header {
  font-size: 2rem;
  background: #333;
  color: #fff;
}

.bg-grey {
  background: #f2f2f2;
}

.green {
  background: #4caf50 !important;
}

.pricing-box li {
  padding: 1rem;
  font-size: 1rem;
  border-bottom: 1px solid #ccc;
}

.btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: 1px solid #ccc;
  color: #fff;
  text-decoration: none;
  background: #4caf50;

  transition: opacity 0.5s ease;
}

.btn:hover {
  opacity: 0.9;
}
