@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import "config";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
}

.container {
  width: 80vw;
  margin: auto;
  padding: 1rem;
}

.showcase {
  background-color: $primary-color;
  height: 600px;
  font-size: 1rem;

  h1 {
    color: #fff;
    font-size: 1.5rem;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        padding-right: 1.5rem;
      }

      a:hover {
        color: $secondary-color;
      }
    }
  }

  .showcase-content {
    height: 100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;

    img {
      width: 50%;
    }

    .content {
      line-height: 1.5;

      h1 {
        font-size: 3rem;
      }

      p {
        margin-bottom: 1rem;
      }
    }
  }
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem 1.1rem;
  border-radius: 0.4rem;
  margin-right: 1rem;

  transition: scale 0.4s ease-in-out;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-primary {
  background-color: lighten($primary-color, 10);
}
.btn-secondary {
  background-color: $secondary-color;
}

@import "mobile";
